*{
	margin:0;
	padding:0;
}
body{
	font-family:'Poppins';
	text-align:center;
}
.wrapper{
	width:90%;
	margin:0 auto;
}
header{
	width:100%;
	height:100px;
	background:darkblue;
	position:fixed;
}
.logo{
	width:30%;
	float:left;
	line-height:100px;
	
}
.logo a{
	text-decoration:none;
	font-size:30px;
	font-family:'Pacifico';
	color:white;
	letter-spacing:4px;
}
	
	
nav{
	float:right;
	line-height:100px;
}
nav a{
	text-decoration:none;
	font-family:'Poppins';
	letter-spacing:4px;
	font-size:20px;
	color:white;
	padding:36px;
	margin:0 1px;
}
nav a:hover{
	background:white;
	color:black;
	font-weight:800;
	}
#txt{
	font-size:45px;
	font-family:'Poppins';
	font-spacing;2px;
}
.f1{
	background:lightgrey;
	height:80px;
	width:800px;
	border-radius:25px;
	text-align:left;
	margin:auto;
	font-size:20px;
	
	}
.but{
	background-color: darkblue; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius:15px;
	float:right;
	vertical-align:center;
	
}

	
	

	






	
